/*CSS rules are displayed by specificity then alphabetical order*/

/*TAGS*/

a {
  color: black;
}

header {
  background-color: white;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 3;
  width: 100%;
  align-items: center;
  height: 80px;
}

nav {
  padding-right: 40px;
}

span{
  display: inline-block;
}

nav span {
  padding: 20px 10px;
}

/*CLASSES*/

.temp_border {
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 40px 32px 40px 0px;
}

.column.large {
  width: 630px;
  display: inline-flex;
  height: auto;
}

.column.medium {
  width: 300px;
  display: inline-flex;
}

.column.small {
  width: 240px;
  display: inline-flex;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo img {
  margin-right: 12px;
}

.main {
  position: relative;
  display: flex;
  top: 80px;
  border: 1px solid black;
  height: auto;

}

/*IDs*/
