/*CSS rules are displayed by specificity then alphabetical order*/

/*TAGS*/

a {
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 325px;
}

header {
  background-color: white;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0px;
  z-index: 3;
  width: 100%;
  align-items: center;
  height: 80px;
}

main {
  display: flex;
  padding-top: 116px;
  margin-bottom: 78px;
  margin: 0px auto 78px auto;
}

nav {
  padding-right: 40px;
}

span{
  display: inline-block;
}

nav span {
  padding: 20px 10px;
}

/*CLASSES*/

.cameras {
  background-image: url("../images/hipster-camera.png");
  display: flex;
  /*height: 300px;
  width: 299px;*/
}

.cats {
  background-image: url("../images/cat-story.png");
  display: flex;
  height: 300px;
}

.column {
  margin-right: 32px;
}

.column.large {
  width: 630px;
  height: auto;
}

.column.medium {
  width: 300px;
  height: auto;
}

.column.small {
  width: 240px;
  height: auto;
  flex-direction: column;
  display: flex;
}

.fall {
  display: flex;
  background-image: url("../images/fall-image.png");
  /*height: 300px;
  width: 299px;*/
}

.group-stories {
  display: flex;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.img-headline {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  align-items: center;
  margin-top: 15px;
  height: 300px;
}

.info {
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info span {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.lead-headline {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background-image: url("../images/picnic.png");
  height: 300px;
}

.lead-story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo img {
  margin-right: 12px;
}

.news-bites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0px 41px 0px;
}

.news-bites .bite {
  margin: 0px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  width: 100%;
  padding: 11px 20px;
  display:  block;
}

.stories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;

}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*IDs*/
